*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}


#main{
    position: relative;
    overflow: hidden;
}

#page{
    position: relative;
    height:100vh;
    width: 100vw;
    background-color: #f1f1f1;
}
#page1{
    position: relative;
    height:100vh;
    width: 100vw;
    background-color: f1f1f1;
}
#page2{
    position: relative;
    height:100vh;
    width: 100vw;
}
#page3{
    position: relative;
    height:100vh;
    width: 100vw;
    background-color: green;
}

canvas{
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
    z-index: 9;
}

#loop{
    display:flex;
    position:absolute;
    top:30%;
    height: 25%;
    width: 100%;
    font-size: 80px;
    white-space: nowrap;
    font-family: gilroy;
}

#loop>h1{
    font-weight: 400;
    animation-name: anim;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#loop>h1>span{
    -webkit-text-stroke: 1.2px rgb(0, 0, 0);
    color:transparent;  
}

@keyframes anim{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7%;
    width: 100%;
    position:fixed;
    z-index: 9;
    padding:0px 30px;
}
#nav>h3{
    font-family: gilroy;
    font-weight: 400;
}

#nav>a{
    padding:10px 20px;
    border-radius: 50px;
    background-color: black;
    color:white;
    border:none;
    font-family: gilroy;
    text-decoration: none;
}

#page>h3{
    position: absolute;
    top:58%;
    font-family: gilroy;
    font-weight: 400;
    color: 7c7c7c;
    left:5%;
}

#page>h4{
    position:absolute;
    top:68%;
    left:25%;
    font-family: gilroy;
    font-weight: 500;
}

#page1>#right-text{
    position:absolute;
    top:30%;
    left:10%;
}


#page1>#right-text>h3{
    font-weight: 400;
    color:#7c7c7c;
}


#page1>#right-text>h1{
    font-size: 30px;
    line-height: 1.3;
}

#page1>#left-text{
    position:absolute;
    top:50%;
    right:10%;
    text-align:end;
}

#page1>#left-text>h1{
    font-size:30px;
    line-height:1.3;
}

#page1>#left-text>h3{
    color:#7c7c7c;
    font-weight:400;
}

#page2>#text1{
    position: absolute;
    top: 30%;
    left:10%;
}

#page2>#text1>h1{
    font-size: 30px;
    line-height: 1.3;
}

#page2>#text1>h3{
    color:#7c7c7c;
    font-weight:400;
}

#page2>#text2{
    position: absolute;
    top: 50%;
    right:5%;
    text-align:end;
}

#page2>#text2>p{
    font-size: 14px;
    font-weight: 400;
    color:#7c7c7c;
}

#footer {
    position: absolute; /* Keeps it fixed on the side */
    bottom: 10px;   /* Distance from the bottom of the viewport */
    left: 15px;    /* Distance from the right of the viewport */
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    color: white;   /* Text color */
    padding: 10px;  /* Some padding for aesthetics */
    border-radius: 5px; /* Rounded corners */
    font-size: 14px; /* Font size */
    z-index: 1000;   /* Ensures it stays on top of other elements */
}